<!DOCTYPE html>
<html>
	<%- include partials/head.ejs %>
	<body>
		<div id="modal-add" class="modal">
			<div class="margin-auto card col-10 col-xl-5 mb-4">
				<div class="card-header flex-row justify-content-between align-items-center">
					<h5 class="card-title mb-0">Add Question</h5>
					<button type="button" class="modal-toggle modal-close" data-target="modal-add"><i class="material-icons md-18">clear</i></button>
				</div>
				<div class="card-body">
					<form id="create" class="text-center">
						<textarea id="question" class="form-control mb-2" rows="2" placeholder="Enter Question" required autofocus></textarea>
						<input id="correct-answer" type="text" class="correct form-control mb-2" placeholder="Correct Answer" required></input>	
						<div id="wrong-answers">
							<input id="wrong-answer" type="text" class="wrong form-control mb-2" placeholder="Wrong Answer" required></input>
						</div>
					</form>
				</div>
				<div class="card-footer text-right">
					<button id="create-button" type="button" class="modal-toggle btn btn-primary" data-target="modal-add">Create!</button>
				</div>
			</div>
		</div>
		<%- include partials/header.ejs %>
		<main class="fixed-container">
			<div class="container">
				<a href="/profile" class="link mb-2 py-1">&lsaquo; Back</a>
				<h3 class="mb-2"><%= quizTitle %></h3>
				<a href="/quiz/<%= quizId %>" class="btn btn-primary mb-2 mr-2">Start Quiz</a><button id="add" class="modal-toggle btn btn-secondary mb-2" data-target="modal-add">Add Question <i class="material-icons md-18">add</i></button>
				<hr class="divider my-3">
				<h3>Questions</h3>
				<div id="questions">
					<% for (let question of questions) { %>
						<%- include partials/question.ejs %>
					<% } %>
				</div>
			</div>
		</main>
		<script src='/js/navbar.js'></script>
		<script src='/js/modal.js'></script>
		<script>
			let templates = <%- JSON.stringify(templates) %>

			let wrongAnswers = document.getElementById('wrong-answers');
			let wrongAnswer = document.getElementById('wrong-answer');

			wrongAnswer.addEventListener('keyup', addAnswer);

			function addAnswer() {
				let answer = this;
				let nextAnswer = answer.nextElementSibling;
				if (nextAnswer === null && wrongAnswers.children.length < 4) {
					nextAnswer = htmlToElement(ejs.render(templates.template1));
					insertAfter(answer, nextAnswer);
					if (wrongAnswers.children.length > 2) {
						answer.classList.remove('hide-text');
						let deleteButton = answer.querySelector('.delete').addEventListener('click', function() {
							answer.remove();
						});
					}
					nextAnswer.addEventListener('keyup', addAnswer);
				}	
			}

			document.getElementById('create-button').addEventListener('click', function() {
				let question = document.getElementById('question');
				let correctAnswer = document.getElementById('correct-answer');
				let wrongAnswers = document.querySelectorAll('#wrong-answers .form-control');	

				let params = 'question='+question.value+'&answers=';
				let answers = [];
				answers.push({
					text: correctAnswer.value,
					correct: true
				});
				for (let wrongAnswer of wrongAnswers) {
					if (wrongAnswer.value.trim() !== '') {
						answers.push({
						text: wrongAnswer.value,
						correct: false
					})
					}
				}
				params += JSON.stringify(answers);
				
				let xhr = new XMLHttpRequest();
				xhr.open('POST', '/view/new-question');
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
				xhr.send(params);
				xhr.onload = function() {
					if (this.status === 200) {
						let questionData = JSON.parse(this.responseText);
						let question = htmlToElement(ejs.render(templates.template2, { question: questionData }));
						document.getElementById('questions').appendChild(question);
					}
				}
			});

			function deleteQuestion(event) {
				let deleteButton = event.target;
				let questionId = deleteButton.getAttribute('data-id');
				let card = deleteButton.parentNode.parentNode;
				console.log(card);
				
				let xhr = new XMLHttpRequest();
				xhr.open('DELETE', '/view/delete-question/' + questionId);
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
				xhr.send();
				xhr.onload = function() {
					if (this.status === 200) {
						card.remove();
					}
				}
			}
		</script>
	</body>
</html>